body{
	background-color: #f3f3f3;
	background-size: contain;
}

body .article {
	color:white;
}

.blocktext {
	margin-left: 40%;
    margin-right: auto;
    width: 6em;
    background-color: #2B403D;
}
.outer-div
{
  padding: 30px;
  background-color: #f3f3f3;
}
.inner-div
{
  margin: auto;
  width: 70%;
  height: auto;
  background-color: #2B403D;
  border-radius: 10px;
  color:white;
  text-align: center;
}
.maintitle {
	margin:5px;
	font-size: 10px;
    font-family: 'FastForward', serif;
}
@font-face {
    font-family: FastForward;
    src: url('FastForward.ttf');
}
.user-icon{
    margin: 5px;
    margin-top: 15px;
    margin-left: 10px;
}
